html{
	background-color: rgba(154, 186, 222, 1);
	}
.navigation{
	list-style-type: none;
    padding-top: : 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
    background-color: rgba(110, 124, 138, .2);
    display: inline;
	float: right;
	margin-bottom: auto;
	position: fixed;
	text-align: right;
	font-family: futura;
	text-align: center;
	font-size: 20;
	}
h1{
	/*position: absolute;*/
	color:#254d64 */;
	display: block;
	overflow: auto;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: auto;
	text-align:center;
	font-family: futura LT extrabold;
	font-size: 36px;
	text-decoration: underline;
		text-decoration-style: dotted;
		text-decoration-color: #40738b;
	border: 5px;
	text-indent: 100px;
	}
.h2{
	/*position: absolute;*/
	color: #40738b;
	float: left;
	display: block;
	overflow: auto;
	font-family: 'Lalezar', cursive;
	text-align: left;
	font-size: 26;
	margin-bottom: auto;
	}
.body{
	/*position: static;*/
	max-width:800px;
	display: block;
	overflow: auto;
	margin-bottom: auto;
	text-align:left;
	font-family: 'Lalezar', sans-serif;
	}
.arch{
	image: url(arch.jpg);
	display: block;
	position: static;
	float: right;
	}
