html{
	background-color: #D3D5DD;
	padding: 10px;
	}
h2{
	position: absolute;
	color: #40738b;
	float: left;
	clear: both;
	overflow: auto;
	font-family: Lalezar, Gadget, cursive;
	text-align: left;
	font-size: 26;
	}
h3{
	position: absolute;
	color: #DEE9F3;
	float: left;
	clear: both;
	overflow: auto;
	font-family: Lalezar;
	text-align: left;
	font-size: 20;
}
.post {
	background-color: #A5B8C7;
	padding: 3px;
	margin-top:10px;
	margin: 10px;
	font-family: futura, Charcoal, sans-serif;
	font-size: 17;
	width: 64%;
	display: inline;
	float: left;
	clear: both;
	width: 40%;
	}
.arch{
	position: static;
	float: right;
	display: inline;
	width: 32%
	clear: left;
	}
.contact_form {
	height: 200px;
	width: 300px;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(165, 184, 199, .5);
	overflow-x: hidden;
	padding-top: 20px;
	display: block;
	position: static;
	float: left;
	text-align: center;
	font-family: futura,  Charcoal, sans-serif;
	color: #254d64;
	}
