h1{
	position: absolute;
	color:#254d64;
	display: block;
	overflow: auto;
	margin-bottom: auto;
	text-align:center;
	font-family: futura LT extrabold, Charcoal, sans-serif;
	font-size: 40px;
	border: 5px;
	text-indent: 100px;
	}
.navigation{
	list-style-type: none;
    padding-top: : 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
    background-color: rgba(110, 124, 138, .2);
    display: inline;
	float: right;
	font-family: futura, Charcoal, sans-serif;
	font-size: 20;
	position:sticky;
	}
