
/* top border rectangle */
.top_rectangle{
position: absolute;
width: 1368px;
top: 0%;
left: 0%;
right: 0%;
height: 200px;
background: #C4C4C4;
}

/* background line */
.background_line{
position: absolute;
width: 75px;
height: 0px;
left: 580px;
top: 92px;

border: 1.5px solid #000000;
background-color: #000;
transform: rotate(90deg);
}

/* data line */
.data_line{
position: absolute;
width: 75px;
height: 0px;
left: 825px;
top: 92px;

border: 1.5px solid #000000;
background-color: #000;
transform: rotate(90deg);
}

/* map line */
.map_line{
position: absolute;
width: 75px;
height: 0px;
left: 1070px;
top: 92px;

border: 1.5px solid #000000;
transform: rotate(90deg);
}

/* logo line */
.logo_line{
position: absolute;
top: 85px;
left: 92px;
width: 135px;

border: 2px solid #000000;
transform: matrix(0, 1, -1, 0, 0, 0);
}

/* title */
.title{
position: absolute;
width: 300px;
height: 200px;
top: 20px;
left: 180px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 40px;
font-size: 44px;

color: #3148A5;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* tagline */
.tagline{
position: absolute;
width: 300px;
height: 200px;
top: 142px;
left: 150px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

/* badge */
.badge{
position: absolute;
top: 10px;
left: 30px;
width: 115px;
height: 155px;
shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* events */
.results{
position: absolute;
height: 10%;
left: 395%;
top: 60px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 700;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* background */
.background{
position: absolute;
height: 10%;
left: 530%;
top: 60px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 700;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* data */
.data{
position: absolute;
left: 740%;
top: 45px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* map */
.map{
position: absolute;
left: 955%;
top: 45px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

a{
	color: #007BDA;
}

/* boilerplate line */
.boiler_line{
position: absolute;
top: 180px;
left: 0px;
width: 1348px;
opacity: 1;
background-color: #00579A;
border: 10px solid #00579A;
font-family: Verdana, sans-serif;
font-size: 12px;
}

@media screen and (max-width: 750px){
	.map_line{display: none;}
	.data_line{display: none;}
	.background_line{display: none;}
	.right_rectangle{display: none;}
	.left_rectangle{display: none;}
	.top_rectangle{display: none;}
	.bottom_rectangle{display:none;}
	.boiler_line{
		position: absolute;
		top: 210px;
		left: 0px;
		width: 460px;
		opacity: 1;
		background-color: #00579A;
		border: 10px solid #00579A;
		font-family: Verdana, sans-serif;
		font-size: 12px;
	}
	.background{
		position: absolute;
		top: 150px;
		left: 10%;
		font-family: Verdana, sans-serif;
		font-size: 15px;
	}
	.data{
		position: absolute;
		top: 159px;
		left: 110%;
		font-family: Verdana, sans-serif;
		font-size: 15px;
		line-height: 1;
	}
	.map{
		position: absolute;
		top: 159px;
		left: 210%;
		font-family: Verdana, sans-serif;
		font-size: 15px;
		line-height: 1;
	}
	.results{
		position: absolute;
		top: 150px;
		left: 320%;
		font-family: Verdana, sans-serif;
		font-size: 15px;
	}
	.badge{
		position: absolute;
		top: 1%;
		left: 2%;
		width: 25%;
		height: 30%;
		shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.title{
		position: absolute;
		width: 70%;
		height: 25%;
		top: 1%;
		left: 35%;
		font-family: Verdana, sans-serif;
		font-style: normal;
		font-weight: 900;
		line-height: 40px;
		font-size: 44px;
		color: #3148A5;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.logo_line{
		position: absolute;
		top: 11%;
		left: 15%;
		width: 30%;
		border: 2px solid #000000;
		transform: matrix(0, 1, -1, 0, 0, 0);
	}
	.tagline{
		position: absolute;
		width: 70%;
		height: 5%;
		top: 18%;
		left: 26%;

		font-family: Verdana, sans-serif;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #000000;
	}
}

/*
.navigation{
	list-style-type: none;
	float: right;
	position: fixed;
		right: 50;
		top: 45;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 3px;
	margin-top: 5px;
    background-color: rgba(90, 102, 134, .2);
    display: inline;
	font-family: Verdana, sans-serif;
	font-size: 15;
} */
