
body{
	background-color: #fff;
	background-size: 100%;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	}

.lights{
position: relative;
left: 0%;
right: 1%;
top: 23%;
/* filter: grayscale(50%) blur(2px); */
}

/* film over image */
.film{
position: absolute;
width: 1350px;
height: 800px;
top: 24%;
background: rgba(130, 130, 130, 0.35);
}

/*intro text */
.intro{
	position: absolute;
	width: 1330px;
	height: 45px;
	top: 24%;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: #fff;
	padding: 10px;
}

/* bottom border rectangle */
.bottom_rectangle{
position: absolute;
width: 1368px;
height: 820px;
left: 0%;
top: 23%;
background: #C4C4C4;
border: 1%;
}

/* top border rectangle */
.top_rectangle{
position: absolute;
width: 1359px;
top: 0%;
left: 0%;
right: 0%;
height: 1%;
background: #C4C4C4;
}

/* left border rectangle */
.left_rectangle{
position: absolute;
width: 10px;
height: 130%;
left: 0%;
right: 0%;
top: 0%;
background: #C4C4C4;
}

/* right border rectangle */
.right_rectangle{
position: absolute;
width: 10px;
height: 130%;
left: 1358px;
right: 0%;
top: 0%;
background: #C4C4C4;
}

/* background line */
.background_line{
position: absolute;
width: 75px;
height: 0px;
left: 580px;
top: 92px;

border: 1.5px solid #000000;
background-color: #000;
transform: rotate(90deg);
}

/* data line */
.data_line{
position: absolute;
width: 75px;
height: 0px;
left: 825px;
top: 92px;

border: 1.5px solid #000000;
background-color: #000;
transform: rotate(90deg);
}

/* map line */
.map_line{
position: absolute;
width: 75px;
height: 0px;
left: 1070px;
top: 92px;

border: 1.5px solid #000000;
transform: rotate(90deg);
}

/* logo line */
.logo_line{
position: absolute;
top: 85px;
left: 92px;
width: 135px;

border: 2px solid #000000;
transform: matrix(0, 1, -1, 0, 0, 0);
}

/* title */
.title{
position: absolute;
width: 300px;
height: 200px;
top: 20px;
left: 180px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 40px;
font-size: 44px;

color: #3148A5;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* tagline */
.tagline{
position: absolute;
width: 300px;
height: 200px;
top: 142px;
left: 150px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

/* badge */
.badge{
position: absolute;
top: 10px;
left: 30px;
width: 115px;
height: 155px;
shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* events */
.results{
position: absolute;
height: 10%;
left: 395%;
top: 60px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 700;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* background */
.background{
position: absolute;
height: 10%;
left: 530%;
top: 60px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 700;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* data */
.data{
position: absolute;
left: 740%;
top: 45px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* map */
.map{
position: absolute;
left: 955%;
top: 45px;

font-family: Verdana, sans-serif;
font-style: normal;
font-weight: 900;
line-height: 33px;
font-size: 30px;

color: #007BDA;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

a{
	color: #007BDA;
}

@media screen and (max-width: 480px){
	body{
		background-color: #fff;
		background-size: 99%;
	}
	.lights {display: none;}
	.film {display: none;}
	.intro{
		width: 90%;
		height: auto;
	}
	.map_line{display: none;}
	.data_line{display: none;}
	.background_line{display: none;}
	.right_rectangle{display: none;}
	.left_rectangle{display: none;}
	.top_rectangle{display: none;}
	.bottom_rectangle{
		position: absolute;
		width: 98%;
		height: 500px;
		left: 0%;
		top: 23%;
		background: #C4C4C4;
		border: 1%;
	}
	.background{
		position: relative;
		top: 170px;
		left: 60%;
		font-family: Verdana, sans-serif;
		font-size: 40px;
	}
	.data{
		position: relative;
		top: 210px;
		left: 60%;
		font-family: Verdana, sans-serif;
		font-size: 40px;
	}
	.map{
		position: relative;
		top: 240px;
		left: 60%;
		font-family: Verdana, sans-serif;
		font-size: 40px;
	}
	.results{
		position: relative;
		top: 450px;
		left: 60%;
		font-family: Verdana, sans-serif;
		font-size: 40px;
	}
	.badge{
		position: absolute;
		top: 1%;
		left: 2%;
		width: 25%;
		height: 30%;
		shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.title{
		position: absolute;
		width: 70%;
		height: 25%;
		top: 1%;
		left: 35%;
		font-family: Verdana, sans-serif;
		font-style: normal;
		font-weight: 900;
		line-height: 40px;
		font-size: 44px;
		color: #3148A5;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.logo_line{
		position: absolute;
		top: 11%;
		left: 15%;
		width: 30%;
		border: 2px solid #000000;
		transform: matrix(0, 1, -1, 0, 0, 0);
	}
	.tagline{
		position: absolute;
		width: 70%;
		height: 5%;
		top: 18%;
		left: 26%;

		font-family: Verdana, sans-serif;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #000000;
	}
}
